.wrapper {
  margin-top: 20px;
}

.btn {
  min-width: 80px;
}
.search {
  width: 40%;
  height: 46px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  display: flex;
  border: 1.5px solid transparent;
  padding: 0 18px;
  font-size: 1.5rem;
}
