.wrapper {
  width: 100%;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: 15px;

  --border-category-item: 22px;
}

.container {
  padding: 0 15px;
}

.title-field {
  border-bottom: 1px solid var(--background-color);
  padding: 12px 0 12px 12px;
  font-size: 1.6rem;
  color: var(--primary);

  .icon-title {
    margin-right: 22px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
}
.icon {
  font-size: 2.6rem;
  line-height: calc(144px + var(--border-category-item) * 2);
  padding: 0 var(--border-category-item);
}
