.order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 5px 5px 5px var(--gray);
}

.order-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 30px;
}

.icon {
  color: var(--primary);
}

.name-order,
.day-order,
.time-order {
  color: var(--text-color);
}

.price-order {
  padding-right: 30px;
  color: var(--primary);
}

.btn {
  margin-right: 20px;
}
