.wrapper {
  width: var(--default-layout-width);
  max-width: 100%;
  margin-top: 15px;
}

.container {
  display: flex;
  background-color: var(--white);
  padding: 40px 0 50px;
}

.sidebar {
  width: 390px;
  border-right: 1px solid #cecece;
}

.sidebar-logo {
  margin-bottom: 12px;
}

.logo {
  width: 240px;
}

.address {
  font-size: 13px;
  padding: 5px 15px 0 15px;
}

.social {
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin: 20px 0 0 26px;
}

.icons {
  display: flex;
  margin-top: 12px;
  padding: 0 8px;
}

.icon {
  font-size: 3rem;
  margin: 0 15px;
}

.content {
  flex: 1;
  padding: 0 15px 0 30px;
  display: flex;
}

.static {
  width: 33.33333%;
}

.title {
  h3 {
    line-height: 39px;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: bold;
  }
}

.contents {
  display: flex;
  flex-direction: column;
}

.content-item {
  line-height: 35px;
  padding-left: 10px;
  color: black;
  transition: all 300ms ease-in 0s;
  font-size: 1.3rem;

  .icon {
    font-size: 1.3rem;
  }
  &:hover {
    background-position: 0px -40px;
    padding-left: 25px;
    color: #ea7696;
  }
}
