.wrapper {
  width: 253px;
}
.btn-home {
  position: relative;
  background-color: #fafafd;
  width: 100%;
  height: 56px;
  justify-content: left;
  color: var(--black);
  margin-top: 60px;
  font-size: 1.6rem;

  &:hover {
    background-color: var(--hover-btn);
  }
}

.btn-home::after {
  content: '';
  position: absolute;
  border: 1px solid var(--yellow);
  height: 54px;
  right: 0;
}

.line {
  border-bottom: 1px solid #f5f5fb;
  padding-top: 22px;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  color: #7f72d9;
  text-transform: capitalize;
  margin-left: 16px;
}

.btn {
  width: 100%;
  justify-content: left;
  color: var(--text-color);
  margin-left: 8px;

  &:hover {
    background-color: var(--hover-btn);
  }
}

.provider,
.order,
.account {
  margin-top: 36px;
}
