.wrapper {
  display: flex;
  height: calc(100vh - var(--default-layout-header-height));
}

//sidebar

.btn {
  position: relative;
  background-color: #fafafd;
  width: 100%;
  height: 56px;
  justify-content: left;
  color: var(--text-color);
  font-size: 1.6rem;
  margin-top: 15px;

  &:hover {
    background-color: var(--hover-btn);
  }

  &:first-child {
    margin-top: 60px;
  }
}

.btn.active {
  color: var(--black);
  border-right: 3px solid var(--blue);
}

.container {
  padding: 12px;
  padding-right: 50px;
  flex: 1 1;
  padding-left: 12px;
  padding-top: 12px;
  background-color: #f5f5fb;
  max-height: 100vh;
  overflow-y: auto;
}

.main-header {
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--black);
}

.information-field {
  padding-top: 30px;
}

.header {
  font-size: 2rem;
  color: var(--black);
  font-weight: 500;
}

.information,
.text-field {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--text-color);
}

.description-field {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cancel-btn {
  margin-left: auto;
}

.save-btn {
  margin-left: 20px;
}

.input-field {
  display: flex;
  padding-left: 200px;
  align-items: center;
}

.input {
  border-radius: 10px;
  font-size: 1.6rem;
  background-color: var(--white);
  margin-right: 30px;
  max-height: 49px;
  max-width: 300px;
  border: 2px solid var(--text-color);

  input {
    font-size: 1.5rem;
    color: var(--text-color);
  }
}

.image {
  width: 126px;
  height: 126px;
  border-radius: 9999px;
}

.upload-btn {
  height: 88px;
  width: 577px;
  margin-left: 100px;
}
