.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  width: var(--default-layout-width);
  max-width: 100%;
  display: flex;
}

.content {
  flex: 1;
  width: var(--default-layout-width);
}
.img-field {
  position: relative;
  width: 100%;
}

.background-img {
  width: 100%;
}

.img-text {
  position: absolute;
  right: 100px;
  width: 300px;
  top: 220px;
}
