.wrapper {
  padding-top: 20px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.staff-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.staff {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(100% / 6);
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  .image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  &:hover {
    background-color: var(--gray);
    border-radius: 5px;
  }
}

.input-field {
  padding-top: 20px 0;
}

.header {
  font-size: 2rem;
  color: var(--black);
  font-weight: 500;
  margin-top: 18px;
}

.fullname {
  display: flex;
}

.input {
  margin: 12px;
}

.options {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
