.cart-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 4px 6px #888888;
  background-color: #fff;
}

.cart-item-null {
  height: calc(100vh - 70px);
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
