.wrapper {
  display: flex;
  max-height: 100vh;
}

.container {
  padding: 12px;
  flex: 1 1;
  padding-left: 12px;
  padding-top: 12px;
  background-color: #f5f5fb;
  height: 100vh;
  overflow-y: auto;
}

//sidebar

.btn {
  position: relative;
  background-color: #fafafd;
  width: 100%;
  height: 56px;
  justify-content: left;
  color: var(--text-color);
  font-size: 1.6rem;
  margin-top: 15px;

  &:hover {
    background-color: var(--hover-btn);
  }

  &:first-child {
    margin-top: 60px;
  }
}

.btn.active {
  color: var(--blue);
  border-right: 3px solid var(--blue);
}

.line {
  border-bottom: 1px solid #f5f5fb;
  padding-top: 22px;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  color: #7f72d9;
  text-transform: capitalize;
  margin-left: 16px;
}

//container

.header {
  display: flex;
  flex-direction: column;
}
.date {
  font-size: 1.4rem;
}

.name {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black);
  margin-top: 12px;
}

.states {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.btn-state1,
.btn-state2,
.btn-state3 {
  height: 118px;
  font-size: 22px;
  border-radius: 10px;
  color: var(--white);
  min-width: 222px;
}

.btn-state1 {
  background-color: #fcb35c;
}

.btn-state2 {
  background-color: #7f72d9;
}

.btn-state3 {
  background-color: #6051bb;
}

.icon {
  margin-right: 12px;
}

.number,
.state {
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 400;
}

.number {
  font-weight: 600;
}
