.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

.wrapper.show {
  transform: translateY(0);
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  img {
    width: 120px;
  }
}

.actions {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.action-box {
  display: flex;
  max-width: 100px;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  cursor: pointer;
  padding: 0 12px;
  transition: all 300ms ease-in 0s;
  position: relative;
}

.action-btn {
  font-size: 2.1rem;
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
}

.action-note {
  font-size: 1.3rem;
  color: var(--black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 88px;
}

.notice {
  position: absolute;
  padding: 1px 3px;
  background-color: var(--primary);
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 6px;
  border: 2px solid var(--primary);
  color: var(--white);
  top: -5px;
  left: 45px;
}

.btn {
  margin-left: 8px;
}

.more-btn {
  cursor: pointer;
  padding: 8px;
  margin-left: 12px;
  background-color: transparent;
  font-size: 2.2rem;
}
