@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --primary: #fe2c55;
  --black: #000;
  --white: #fff;
  --yellow: gold;
  --blue: #6c00ff;
  --gray: #ccc;
  --text-color: #646461;
  --background-color: #d9d9d9;
  --hover-btn: #fdf4f5;

  --font-family: 'Montserrat', 'sans-serif';

  --default-layout-header-height: 68px;
  --default-layout-width: 1268px;
  --default-border-radius: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: overlay;
}

// Scrollbar CSS

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

// Custom tippy tooltip
body {
  .tippy-box {
    border-radius: var(--default-border-radius);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }

  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
  }
}

input[type='file'] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type='file']::-webkit-file-upload-button {
  visibility: hidden;
}

input[type='file']::file-selector-button {
  visibility: hidden;
  display: none;
}

li {
  list-style: none;
}
